{% extends 'music/master1.html' %}
{% block title %}
Add Album
{% endblock  %}
{% block body %}
<style>
    /* table{
        color:rgb(13, 74, 204);
    } */
    .cnt{
        max-width: 1170px;
        margin: auto;
    }
    
</style>
<div class="cnt">


<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<div class="table-responsive">
    <table>
    {% for i in form %}
    <tr>
    <td  style="color: white;"><h3>{{i.label_tag}}</h3></td>
    <td>{{i}} </td>
    <td style="color: white;">{{i.help_text}}</td>
    <td style="color: white;">{{i.errors}}</td>

    </tr>
    {% endfor %}
    
    </table>
    <div class="container">
    <br>
    <input type="submit" value="Add" style="color: black; font-weight: 1000;" class="btn btn-info">
    </div>
</div>
</div>
{% endblock  %}